<dialog class="relative z-10 modal-js" aria-labelledby="modal-title" aria-modal="true">
	<div class="fixed inset-0 bg-black bg-opacity-30 transition-opacity"></div>
	<div class="fixed inset-0 z-10 overflow-y-auto flex">
		<div class="shadow-xl transform bg-primary max-w-sm w-full p-4 rounded m-auto border-color">
			<button class="modal-close-js absolute z-20 right-4 top-2 cursor-pointer  btn-primary rounded">
				<svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
					<path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/>
				</svg>
			</button>
			<form method="post" class="modal-form-js  relative flex flex-col h-full justify-around gap-2 text-color py-4 mt-2">
				<label class="font-montserrat font-medium" for="username">pseudo</label>
				<input autofocus minlength="3" class="modal-pseudo-js w-full h-10 p-2 border-color outline-0 rounded bg-border invalid:border-red-500" type="text" name="pseudo" id="pseudo" class="form-control" autocomplete="username">
				<label class=" mt-2 font-montserrat font-medium" for="password">avis</label>
				<textarea minlength="10" class="modal-text-js w-full h-40 p-2 border-color outline-0 rounded bg-border resize-none invalid:border-red-500" name="advice" id="advice"></textarea>
				<input class='modal-csrf-js' type="hidden" name="_csrf_token" value="{{ csrf_token('send_advice') }}">
				<button disabled class="modal-submit-js w-full h-11 rounded text-sm p-3 px-3 btn-primary mt-6 disabled:opacity-50" type="submit">
					envoyer mon avis
				</button>
			</form>
		</div>
	</div>

</dialog>
