{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard
{% endblock %}

{% block main %}
	<div class="col w-100 mx-auto row px-md-4">


		<div class="col">
			<h2 class="mb-4 h4">Les animaux les plus consultés</h2>
			<div class="table-responsive small"></div>
		</div>
	</div>
{% endblock %}
