@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary: #fdfffc;
  --secondary: #29524a;
  --btn-color: #db4c40;
  --border-color: #dbe3df;
  --text-color: #16302b;

  --open-sans: "Open Sans", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary);
}

p,
label,
input {
  font-family: var(--open-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--montserrat);
}

/* background */
.bg-primary {
  background-color: var(--primary);
}

/* button */
.btn-primary {
  background-color: var(--btn-color);
  color: var(--primary);
  transition: all ease-in-out 150ms;
}

.btn-primary:hover {
  background-color: #e95345;
}

.btn-primary:active {
  background-color: #cc4336;
}

/* text  */
.text-color {
  color: var(--text-color);
}

.text-primary {
  color: var(--primary);
}

.text-color--hover:hover,
.text-color--hover:active {
  color: var(--btn-color);
}

.text-color--btn {
  color: var(--btn-color);
}

.font-montserrat {
  font-family: var(--montserrat);
}

.font-open-sans {
  font-family: var(--open-sans);
}

/* border */
.border-color {
  border: solid 1px var(--border-color);
}

.border-color:focus {
  border-color: var(--btn-color);
  border: solid 2px var(--btn-color);
}

.bg-border {
  background: #dbe3df20;
}
