{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block main %}

    <main class="min-h-screen">
        
        
            
            
    
    </main>


{% endblock %}
