<body style="font-family:Arial,Helvetica, sans-serif;">
	<p>
		{{data.username}}, votre compte a été bloqué !
	</p>
	<p style="margin-top='8px'">
		Cet email vous est envoyé car votre compte a été bloqué suite à un trop grand nombre de tentatives de connexion.
	</p>

	<p style="margin-top='8px'">
		Vous devez vous approcher de l'administrateur afin qu'il vous fournisse un nouveau mot de passe
	</p>

</body>
