<body style="font-family:Arial,Helvetica, sans-serif;">
	<p>
		Nouveau compte crée pour
		{{data.username}}
	</p>
	<p style="margin-top='8px'">
		Cette email est la confirmation de la création de votre compte sur le site Arcadia.
	</p>

	<p style="margin-top='8px'">Afin de vous connecter à votre compte vous devez  utiliser l'adresse email
		<strong>{{ data.email  }}</strong>, pour le
		<strong>mot de passe</strong>
		rapprochez vous de l'administrateur du site afin qu'il vous le communique.
	</p>
</body>
